apiVersion: apps/v1
kind: Deployment
metadata:
  name: scaletestapp
  labels:
    app: scaletestapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scaletestapp
  template:
    metadata:
      labels:
        app: scaletestapp
    spec:
      containers:
      - name: scaletestapp
        image: ghcr.io/yandex-practicum/scaletestapp:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        resources:
          # В Kubernetes HPA считает Utilization от requests.
          # Для корректной работы HPA с процентами нужно задать requests.
          # Значения намеренно занижены до 10Mi (вместо 30Mi в задании), так как локальная машина (M-series MacStudio) слишком мощная, а само
          # Go-приложение потребляет всего 1-4Mi. Иначе порог HPA недостижим.
          requests:
            memory: "10Mi"
            cpu: "100m"
          limits:
            memory: "10Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: scaletestapp
  labels:
    app: scaletestapp
spec:
  selector:
    app: scaletestapp
  ports:
    - name: metrics-port
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
